@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2.92px solid #242223;
  margin-top: 3px;
  margin-inline-end: 3px;
}

.chevron.right {
  border-left: none;
  border-bottom: none;
  rotate: 45deg;
}
